# Verifying your organization

If you are an admin or an authorized representative for your organization, you can start verification by navigating to the Organization Verification page from the App Submission page, Data Use Checkup page, or the Org Manager menu. If your organization is unverified, you’ll see a notification to start verification. On the Organization verification page, you’ll be able to complete one of two processes:  
  
* Business verification - This process allows us to gather information about you and your developer organization so we can verify your identity as a legal business entity.  
* Admin verification - This process allows us to gather information about you so we can verify your identity as a person, if you do not have a business entity.  
# Business verification  
  
1. Open your web browser and navigate to the [Meta Quest Org Manager](https://developer.oculus.com/manage).  
2. From the left-side navigation, click Verification.  
3. Click Start verification under Business verification.  
4. Enter your organization details and click Next.  
5. Select the correct business from the list, or select None of these match if you don’t see your organization on the list.  
6. Confirm your organization details.  
7. Choose how you want to receive your verification code, either through text message, phone call, or email.  
8. Enter your verification code.  
9. Click Submit.  
10. Once you receive confirmation that your organization is verified, there’s nothing more you need to do. You’ll receive a notification when the review is complete.  
  
# Admin verification  
  
1. Open your web browser and navigate to the [Meta Quest Org Manager](https://developer.oculus.com/manage).  
2. From the left-side navigation, click Verification.  
3. Click Add myself under Admin verification.  
4. Certify that you are an authorized representative of your organization and click Continue.  
5. Click Start verification and you will be redirected to another Meta site to complete the verification process.  
